$color-primary: rgb(105, 30, 68);
$color-secondary: #db63f3;
$color-tertiary: rgb(82, 14, 48);
$color-warning: hsl(0, 44%, 61%) !default;

$background-color: #d340a9e0;
$font-family: "Gill Sans Extrabold", sans-serif;
$font-size: 20px;
$font-weight: 300;
$font-color: hsl(210, 37%, 16%);
$font-color-light: #fff;

$header-height: 88px;

$workarea-background-color: #ffffff;
$workarea-min-height: calc(100vh - 136px);
